{% extends "tasks/profile.html" %} {% load static %} {% block main_content %}

<style>
  .text {
    width: 120px;
    height: 22px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    text-align: start;
    margin-bottom: 20px;
    margin-left: 10px;
    color: #656565;
  }
</style>
<div>
  <h3 class="text" style="width: 260px; margin-bottom: 20px"
    >Change your password</h3
  >

  <form
    class="custom-border"
    action="{% url 'change_password' %}"
    method="post"
  >
    {% csrf_token %}
    <table class="">
      {{ form }}
      <tr
        ><td>&nbsp;</td
        ><td
          ><button
            class="btn btn-primary"
            style="
              background-color: #ee6402;
              float: right;
              border-color: transparent;
            "
            type="submit"
            >Change Password</button
          ></td
        ></tr
      >
    </table>
  </form></div
>
{% endblock%}
