{% extends "tasks/base.html" %} {% load static %} {% block customcss %}

<style type="text/css">
  input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .column {
  float: left;
  width: 50%;
  
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.button{
    color: white;
    margin-bottom: 10px;
    width: 100px; 
    height: 40px; 
    margin-left: auto; 
    margin-right: 12px; 
    background-color:#ff6600;
    border: none;
    transition-duration: 0s;
    border-radius: 10px;
}
.button:hover {
  background-color: #df5b03;
  color: white;
}

</style>

{% endblock %} {% block menubar %} {% endblock %} {% block main_content %}

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form row">
    <div class="column">
        <h3 style="padding-bottom: 20px">TPS Login</h3>
    </div>
    <button class="button" type="submit"
    >SIGN UP</button>
    </div>
</form>

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-floating">
      <input type="text" class="form-control" name="universityid" />
      <label for="floatingInput">University ID</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" name="tpspass" />
      <label for="floatingPassword">TPS Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
  </form>
</div>

<div style="padding-top: 20px; color: red">
  <p>{{ login_error }}</p>
</div>

{% endblock %}
