{% extends "tasks/profile.html" %} {% load static %} {% block main_content %}
<style>
    .column {
      float: left;
      width: 50%;
    }
  
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    .text {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;
      text-align: start;
      margin-bottom: 20px;
      margin-left: 10px;
      color: #656565;
    }
  </style>
  
  <div style="margin-top: 10px">
    <div class="row">
      <div class="column">
        <form id="myform" method="post">
          {% csrf_token %}
          <p>Please enter your new Email</p>
          <input name="email_input" type="email" value="{{user.email}}"></input>
          <button>Save</button>
        </form>
      </div> 
      <input class="column" type="submit" form="myform" value="Update"/>
    </div> 
  </div>


  <script>
    window.onload = function(){
      document.getElementById('email_option').className = 'selected'
    }
  </script>
 {%endblock%} </h4></h4>
