{% extends "tasks/base.html" %} {% load static %} {% block main_content %}
<style>
  th {
    vertical-align: top;
  }
  .column {
    float: left;
    width: 50%;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .profile-pic {
    color: transparent;
    transition: all 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: 30px;
    margin-left: 5px;
    float: left;
  }
  .profile-pic input {
    display: none;
  }
  .profile-pic img {
    position: absolute;
    object-fit: cover;
    width: 100px;
    height: 100px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
    border-radius: 100px;
    z-index: 0;
  }
  .profile-pic .-label {
    cursor: pointer;
    height: 100px;
    width: 100px;
  }
  .profile-pic:hover .-label {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10000;
    color: #fafafa;
    transition: background-color 0.2s ease-in-out;
    border-radius: 100px;
    margin-bottom: 0;
  }
  .profile-pic span {
    display: inline-flex;
    padding: 0.2em;
    height: 2em;
  }

  body a:hover {
    text-decoration: none;
  }
</style>
<script>
  var loadFile = function (event) {
    var image = document.getElementById("output");
    image.src = URL.createObjectURL(event.target.files[0]);
  };
</script>

<div class="row">
  <div class="column"
    ><div class="profile-pic">
      <label class="-label" for="file">
        <span class="glyphicon glyphicon-camera"></span>
        <span style="font-size: small">Change Image</span>
      </label>
      <input id="file" type="file" onchange="loadFile(event)" />
      <img
        src="https://cdn0.iconfinder.com/data/icons/social-media-network-4/48/male_avatar-512.png"
        id="output"
        width="200"
      /> </div
  ></div>
  <div class="column"><h3 style="margin-top: 35px">Profile</h3></div>
</div>

<form action="{% url 'change_password' %}" method="post">
  {% csrf_token %}
  <table>
    {{ form }}
    <tr
      ><td>&nbsp;</td
      ><td
        ><button class="btn btn-primary" style="float: right" type="submit"
          >Save
        </button></td
      ></tr
    >
  </table>
</form>

{% endblock%}
