{% extends "tasks/base.html" %}
{% load static %}


{% block left_content %}
<h4>Help!</h4>
Help text here... 
{% endblock %}

{% block main_content %}

<h4>Create Teams for...<br /> {{ course }} </h4>

<form action="{% url 'create_team' course.pk %}" method="post">
{% csrf_token %}
<table>
    <tr>
        <td>Team size</td>
        <td>:</td>
        <td><input type="number" size="4" value="4" name="team_size"></td>
    </tr>
    <tr>
        <td valign="top">Student List</td>
        <td valign="top">:</td>
        <td><textarea cols="40" rows="10" name="stdlist"></textarea></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
        <td><input type="submit" class="btn btn-primary" value="Generate Random Teams"></td>
    </tr>
</table>
<input type="hidden" name="course_id" value="{{course.id}}">
</form>

{% endblock%}